<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адреса</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .scrollable-menu {
            height: auto;
            max-height: 200px;
            overflow-x: hidden;
        }

        .marinablerow {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div id="app">

    <form role="form" method="POST" action="#">
            <div class="row marinablerow">
                <div class="col-sm-4 clearfix"><label class="input-title">Регион:</label></div>
                <div class="col-sm-8 clearfix"><input type="text" class="form-control" name="region" placeholder="Регион" v-model="address.region" disabled/></div>
            </div>
            <div class="row marinablerow">
                <div class="col-sm-4"><label class="input-title">Район:</label></div>
                <div class="col-sm-8 clearfix">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." placeholder="Район" @keydown="changeDistrict"
                               v-model="address.district.FORMALNAME" id="input-district" :disabled="disabled.district">
                        <div class="input-group-btn">
                            <button type="button" id="dropdown-toggle-address" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" id="ul-district">
                                <li v-for="district in filteredDistricts"><a @click="setDistrict(district)"> {{ district.FORMALNAME }} </a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row marinablerow" v-show="visibility.cityList">
                <div class="col-sm-4"><label class="input-title">Город/село/поселок:</label></div>
                <div class="col-sm-8 clearfix">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." placeholder="Город/село/поселок" @keydown="changeCity"
                               v-model="address.city.FORMALNAME" id="input-city" :disabled="disabled.city">
                        <div class="input-group-btn">
                            <button type="button" id="dropdown-toggle-city" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" id="ul-city">
                                <li v-for="city in filteredCities"><a @click="setCity(city)"> {{ city.FORMALNAME }} </a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row marinablerow" v-show="visibility.streetList">
                <div class="col-sm-4"><label class="input-title">Улица:</label></div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." placeholder="Улица" @keydown="changeStreet"
                               v-model="address.street.FORMALNAME" id="input-street" :disabled="disabled.street">
                        <div class="input-group-btn">
                            <button type="button" id="dropdown-toggle-street" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" id="ul-street">
                                <li v-for="street in filteredStreets"><a @click="setStreet(street)">{{ street.SHORTNAME }}. {{ street.FORMALNAME }} </a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row marinablerow" v-show="visibility.buildingList">
                <div class="col-sm-4"><label class="input-title">Дом:</label></div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." placeholder="Дом"
                               v-model="address.building.HOUSENUM" id="input-building" @keyup="setAddressString">
                        <div class="input-group-btn">
                            <button type="button" id="dropdown-toggle-building" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" id="ul-building">
                                <li v-for="building in filteredBuildings"><a @click="setBuilding(building)"> {{ building.HOUSENUM }} {{ building.STRUCNUM }} </a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>
            </div>

        <input name="address" type="hidden" data-alias="address" v-model="address.string">
    </form>

</div>

<script type="text/javascript" src="main.js" async></script>

</body>
</html>